<config><theme><language>en</language><skin>grey</skin></theme><project><root>/home/yfujimoto/Desktop/sdm_sample</root></project><tools><awb>retinex_adjusted</awb><psp>ihsConvert</psp></tools><geoinfo><maptile>OpenStreetMap</maptile></geoinfo><network><proxy>No Proxy</proxy></network><tesseract-ocr><lang>eng+jpn</lang><psm>10</psm></tesseract-ocr><app><text-edit>gedit</text-edit></app></config>